body {
    margin:0;
    font-weight: 100;
    background-color:#EEE;
}

.cash-red-pack-main {
    width:7.5rem;
    min-height: 100vh;
    background-image: url("../imgs/cash-red-pack-bg.png");
    -webkit-background-size:cover;
    background-size:cover;
}

.cash-red-pack-main .tips {
    width: 100vw;
    padding-top: 1.2rem;
    text-align: center;
    font-size: .6rem;
    font-weight: 600;
    color: #f3c861;
}

.cash-red-pack-main .rule {
    position: absolute;
    width: 1.5rem;
    height: 0.5rem;
    line-height: .5rem;
    right: 0;
    top: .3rem;
    padding-right: 0.15rem;
    text-align: right;
    background-color: rgba(155,17,4,1);
    color: #ff958b;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    font-size: 0.3rem;
}

.cash-red-pack-main .mid {

}
/* 红包区 */
.cash-red-pack-main .red-pack-info {
    display: flex;
    flex-direction: column;
    /*border:1px solid #EEE;*/
    position:relative;
    width: 7rem;
    height: 8rem;
    margin: 5vh auto;
    background-image: url(../imgs/redPackEffect.png);
    background-position: center;
    background-size: cover;
    z-index: 3;
}

.cash-red-pack-main .red-pack-info .btn-receive {
    width: 3rem;
    height: 3rem;
    line-height: 2.7rem;
    color: #b63c0b;
    text-align: center;
    font-size: .6rem;
    font-weight: 600;
    margin: 1.5rem auto 0.3rem;
    -webkit-background-size: cover;
    background-size: cover;
    background-image: url(../imgs/cash-receive-btn.png);
    background-repeat: no-repeat;
    background-position: center;
}

.cash-red-pack-main .withdraw-list-box {
    height:2rem;
    overflow: hidden;
}

.cash-red-pack-main .withdraw-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: auto;
    overflow: hidden;
    width: 5rem;
    height: 2rem;
    font-size: 0.36rem;
    padding: 0;
    /* border: 1px solid aqua; */
}

.cash-red-pack-main .withdraw-list .item {
    display: flex;
    min-height: 0.6rem;
    line-height: .6rem;
    margin-top: .3rem;
    border-radius: 0.3rem;
    background-color: rgba(0,0,0,0.3);
    color: white;
}
.cash-red-pack-main .withdraw-list .item span.nickname {
    padding:0 5px;
}

.cash-red-pack-main .withdraw-list .item .withdraw-info {
    height: 0.6rem;
    line-height: 0.6rem;
    overflow: hidden;
}
.cash-red-pack-main .withdraw-list .item .head-img-url {
    width: .6rem;
    height: .6rem;
    border-radius: 0.3rem;
    background-size: cover;

}

.cash-red-pack-main .msg {
    text-align: center;
    font-size:.6rem;
    font-weight:600;
    color:#f3c861;
}