body {
    margin:0;
    font-weight: 100;
    background-color:#EEE;
}

.cash-red-pack-main {
    width:100vw;
    height:100vh;
    background-image: url("../imgs/cash-red-pack-bg.png");
    -webkit-background-size:cover;
    background-size:cover;
}

.cash-red-pack-main .tips {
    width:100vw;
    padding-top:60px;
    text-align: center;
    font-size: 30px;
    font-weight:600;
    color:#f3c861;
}

.cash-red-pack-main .rule {
    position: absolute;
    width:80px;
    height: 30px;
    line-height:30px;
    right:0;
    top:15px;
    padding-right:3px;
    text-align: right;
    background-color: rgba(155,17,4,1);
    color:#ff958b;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.cash-red-pack-main .mid {

}
/* 红包区 */
.red-pack-container {
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background-color:rgba(0,0,0,0.5);
}
.red-pack-container .red-pack-bg {
    position:relative;
    width: 7.5rem;
    height: 7rem;
    margin: 2rem auto;
    background-image: url(../imgs/redPackEffect.png);
    background-position: center;
    background-size: cover;
    z-index: 3;
}

.red-pack-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color:white;
}

.red-pack-info .tips {
    margin: 3.6rem auto 0;
    font-size: .4rem;
    height: .6rem;
    line-height: .6rem;
}
.red-pack-info .total {
    font-weight:600;
    height:.6rem;
    line-height:.6rem;
    font-size: .6rem;
}
.red-pack-info .received {
    margin-top: 0.1rem;
    height: .8rem;
    line-height: .6rem;

}
.red-pack-info .btn-share-friend {
    width: 50vw;
    height: 0.6rem;
    line-height: .6rem;
    background-color: #f3c861;
    border-radius: .3rem;
    color: #f21a17;
    font-weight: 600;
    font-size: 0.3rem;
    text-align: center;
}

.red-pack-info .btn-close {
    position: absolute;
    top: 0.3rem;
    width: 100vw;
    height: .8rem;
}
