body {
    font-size: 0.24rem;
    overflow: scroll;
}
.main {
    width:100vw;
    /*min-height: 100vh;*/
    background-color: #EEE;
}

.main .top {
    display: flex;
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: .8rem;
    z-index: 99;
    border-bottom: 1px solid #888;
    justify-content: space-around;
    background-color: #4d8ebb;
}

.main .top input {
    width: 3rem;
    height: 0.4rem;
    margin-top: 0.2rem;
    color:#FFF;
    border: 1px solid #888;
}
.main .top button {
    width: 1rem;
    height: 0.6rem;
    margin-top: .1rem;
    font-size: 0.2rem;
}

.main .ads {
    margin-top:.8rem;
}

.main .recommend-house-box {
    margin-bottom: 1rem;
}
.main .recommend-house-box .tips-bar {
    display: flex;
    background-color: #FFF;
    border: 1px solid #ccc;
    border-left: 0;
    border-right: 0;
}
.main .recommend-house-box .tips-bar img {
    width: 0.4rem;
    height: 0.4rem;
    align-self: center;
    padding-left: 0.3rem;
}
.main .recommend-house-box .tips-bar .text {
    height: 0.6rem;
    line-height: 0.6rem;
    display: block;
    margin-left: .3rem;
}
/**
推荐房源区
 */
.main .recommend-house-box .house-list {
}
.main .recommend-house-box .house-list .item {
    display: flex;
    background-color: #FFF;
    margin-bottom:0.03rem;
}
.main .recommend-house-box .house-list .item .cover {
    width:3.8rem;
    height: 2.8rem;
    margin-top: 0.1rem;
    background-size: cover;
}
.main .recommend-house-box .house-list .item .info {
    display: flex;    
    padding: 0 0.3rem;
    flex-direction: column;
    justify-content: space-around;
    color: #000;

}
.main .recommend-house-box .house-list .item .info .name {
    color:#e94219;
    font-weight:600;
}
.main .recommend-house-box .house-list .item .info .btn-see-house {
    background-color: #e99421;
    color: #FFF;
    text-align: center;
    border-radius: 0.1rem;
    width: 1.2rem;
    padding: 0.1rem;
}


/**
Loading动画
 */
.loading {
    display: none;
    height: 1rem;
    justify-content: center;
}
#preloader_1{
    position: relative;
    height: 0.5rem;
}
#preloader_1 span{
    display:block;
    bottom:0px;
    width: 9px;
    height: 5px;
    background:#9b59b6;
    position:absolute;
    animation: preloader_1 1.5s  infinite ease-in-out;
}
#preloader_1 span:nth-child(2){
    left:11px;
    animation-delay: .2s;
}
#preloader_1 span:nth-child(3){
    left:22px;
    animation-delay: .4s;
}
#preloader_1 span:nth-child(4){
    left:33px;
    animation-delay: .6s;
}
#preloader_1 span:nth-child(5){
    left:44px;
    animation-delay: .8s;
}
@-webkit-keyframes preloader_1 {
    0% {height:5px;transform:translateY(0px);background:#9b59b6;}
    25% {height:30px;transform:translateY(15px);background:#3498db;}
    50% {height:5px;transform:translateY(0px);background:#9b59b6;}
    100% {height:5px;transform:translateY(0px);background:#9b59b6;}
}
@keyframes preloader_1 {
    0% {height:5px;transform:translateY(0px);background:#9b59b6;}
    25% {height:30px;transform:translateY(15px);background:#3498db;}
    50% {height:5px;transform:translateY(0px);background:#9b59b6;}
    100% {height:5px;transform:translateY(0px);background:#9b59b6;}
}