body {
    font-size: 0.24rem;
}
.main {
    width:100vw;
    min-height: 100vh;
    background-color: #EEE;
}

.main .ads {
}

.main .house-box {
    margin-bottom: 1rem;
}

.main .house-box .title-box {
    height: 1rem;
    display: flex;
    justify-content: space-between;
    padding: .15rem .3rem;
    margin-bottom: .3rem;
    background-color: #FFF;
}
.main .house-box .title-box .info .title {
    font-size: .3rem;
    font-weight: 600;
    margin-bottom: .1rem;
}
.main .house-box .title-box .info .create-time {
    color:#888;
}

.main .house-box .title-box .btn-mark {
    font-size: 0.3rem;
    background-color: #afdafc;
    padding: 0.2rem 0.3rem;
    border-radius: 0.2rem;
}

.main .house-box .mid-box {
    background-color: #FFF;
}


.main .house-box .mid-box .price-box {
    height: 1rem;
    display: flex;
    justify-content: space-between;
    border-top:1px solid #CCC;
    border-bottom:1px solid #CCC;
}
.main .house-box .mid-box .price-box .item {
    align-self: center;
    text-align: center;
    font-weight: 600;
    font-size: .28rem;
    width: 50vw;
}
.main .house-box .mid-box .price-box .item .val {
    color:red;
}
.main .house-box .mid-box .price-box .item:first-child {
    border-right:1px solid #CCC;
}
.main .house-box .mid-box .desc-box {
    padding: 0 0.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 1.8rem;
}
.main .house-box .mid-box .desc-box span {
    padding-right:.2rem;
}
.main .house-box .mid-box .label {
    height: 0.5rem;
    line-height: 0.5rem;
    font-weight: 600;
    font-size: .28rem;
    padding-left:.1rem;
    border-left:.1rem solid darkred;
}

.main .house-box .mid-box .detail-box {
    padding: .1rem .3rem;
    border-top:1px solid #CCC;
}
.main .btn-box {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    background-color: #8c8c8c;
}

.main .btn-box .btn {
    width: 50vw;
    text-align: center;
    height: 1rem;
    line-height: 1rem;
    font-size: 0.44rem;
    color: #FFF;
}

.main .btn-box .btn-see {
    background-color: indianred;
}
