body {
    font-size: 0.24rem;
}
.main {
    width:100vw;
    min-height: 100vh;
    background-color: #EEE;
}

.main .ads {
}

.main .house-box {
}

.main .house-box .title-box {
    height: 1rem;
    display: flex;
    justify-content: space-between;
    padding: .15rem .3rem;
    margin-bottom: .3rem;
    background-color: #FFF;
}
.main .house-box .title-box .info .title {
    font-size: .3rem;
    font-weight: 600;
    margin-bottom: .1rem;
}
.main .house-box .title-box .info .create-time {
    color:#888;
}

.main .house-box .title-box .btn-mark {
    font-size: 0.3rem;
    background-color: #afdafc;
    padding: 0.2rem 0.3rem;
    border-radius: 0.2rem;
}

.main .house-box .mid-box {
    background-color: #FFF;
}


.main .house-box .mid-box .price-box {
    height: 1rem;
    display: flex;
    justify-content: space-between;
    border-top:1px solid #CCC;
    border-bottom:1px solid #CCC;
}
.main .house-box .mid-box .price-box .item {
    align-self: center;
    text-align: center;
    font-weight: 600;
    font-size: .28rem;
    width: 50vw;
}
.main .house-box .mid-box .price-box .item .val {
    color:red;
}
.main .house-box .mid-box .price-box .item:first-child {
    border-right:1px solid #CCC;
}
.main .house-box .mid-box .desc-box {
    padding:0 0.3rem;
}
.main .house-box .mid-box .label {
    height: 0.5rem;
    line-height: 0.5rem;
    font-weight: 600;
    font-size: .28rem;
}
.main .house-box .mid-box .detail-box {
    border-top:1px solid #CCC;
}
