body {
    font-size: 0.24rem;
}
.main {
    width:100vw;
    min-height: 100vh;
    background-color: #EEE;
}

.main .ads {
}

.main .house-box {
    margin-bottom: 1rem;
}

.main .house-box .title-box {
    height: 1rem;
    display: flex;
    justify-content: space-between;
    padding: .15rem .3rem;
    margin-bottom: .3rem;
    background-color: #FFF;
}
.main .house-box .title-box .info {
    display: flex;
}
.main .house-box .title-box .info .title {
    align-self: center;
    font-size: .3rem;
    font-weight: 600;
}
.main .house-box .title-box .info .create-time {
    color:#888;
}

.main .house-box .title-box .btn-mark {
    width: 1rem;
    height: 1rem;
    background-image: url(../imgs/mark.png);
    background-repeat: no-repeat;
    background-position: center;
}
.main .house-box .title-box .btn-mark.marked {
    background-image: url(../imgs/marked.png);
}

.main .house-box .mid-box {
    background-color: #FFF;
}


.main .house-box .mid-box .price-box {
    height: 1rem;
    display: flex;
    justify-content: space-between;
    border-top:1px solid #CCC;
    border-bottom:1px solid #CCC;
}
.main .house-box .mid-box .price-box .item {
    align-self: center;
    text-align: center;
    font-weight: 600;
    font-size: .28rem;
    width: 50vw;
}
.main .house-box .mid-box .price-box .item .val {
    color:red;
}
.main .house-box .mid-box .price-box .item:first-child {
    border-right:1px solid #CCC;
}
.main .house-box .mid-box .desc-box {
    padding: 0 0.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 2.8rem;
}
.main .house-box .mid-box .desc-box .tag-list {
    display: flex;
}
.main .house-box .mid-box .desc-box span {
    padding-right:.2rem;
}
.main .house-box .mid-box .desc-box span.tag-name {

}
.main .house-box .mid-box .label {
    height: 0.5rem;
    line-height: 0.5rem;
    font-weight: 600;
    font-size: .28rem;
    padding-left:.1rem;
    border-left:.1rem solid darkred;
}

.main .house-box .mid-box .detail-box, .main .house-box .mid-box .similar-box {
    padding: .1rem .3rem;
    border-top:1px solid #CCC;
}
.main .btn-box {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    background-color: #8c8c8c;
}

.main .btn-box .btn {
    width: 50vw;
    text-align: center;
    height: 1rem;
    line-height: 1rem;
    font-size: 0.44rem;
    color: #FFF;
}

.main .btn-box .btn-see {
    background-color: indianred;
}


/**
相似房源
 */
.main .house-box .house-list {
    overflow: auto;
}
.main .house-box .house-list .no-data {
    display: none;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    font-size: 0.35rem;
    color: #888;
    letter-spacing: .03rem;
}
.main .house-box .house-list .item {
    display: flex;
    background-color: #FFF;
    margin-bottom:0.03rem;
}
.main .house-box .house-list .item .cover {
    width:3.8rem;
    height: 2.8rem;
    margin-top: 0.1rem;
    background-size: cover;
}
.main .house-box .house-list .item .info {
    display: flex;
    display: -webkit-flex;
    padding: 0 0.3rem;
    flex-direction: column;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    color: #000;

}
.main .house-box .house-list .item .info .name {
    color:#e94219;
    font-weight:600;
}
.main .house-box .house-list .item .info .btn-see-house {
    background-color: #e99421;
    color: #FFF;
    text-align: center;
    border-radius: 0.1rem;
    width: 1.2rem;
    padding: 0.1rem;
}